rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /matches/{matchId} {
      allow read, write: if true;
    }
    match /players/{playerId} {
      allow read: if true;
      allow create: if !exists(/databases/$(database)/documents/players/$(playerId));
      allow update: if request.resource.data.name == resource.data.name;
      allow delete: if false;
    }
    match /config/{configId} {
      allow read, write: if true;
    }
  }
}
